# Envoy-Proxy specific Bazel build/test options.

import %workspace%/envoy/.bazelrc

build --workspace_status_command="bash envoy/bazel/get_workspace_status"
build --java_runtime_version=remotejdk_11

build:clang --cxxopt -Wno-error=old-style-cast
build:clang --cxxopt -Wno-error=unused-private-field
build:clang --copt "-D NULL_PLUGIN"
